@main {
    @menu()
    <h2>Event Stream</h2>
    <p>Events are pushed from the Server using a Server Sent Event connection.</p>
    <div id="sink"></div>
    <script type="text/javascript" charset="utf-8">
        if (!!window.EventSource) {
            var source = new EventSource("@routes.EventStreamController.events()");
            source.addEventListener('message', function(e) {
                var data = JSON.parse(e.data);
                var pkg = 'org.sofi.deadman.messages.event.';
                if (data.type === pkg + 'TaskWarning' || data.type === pkg + 'TaskExpiration') {
                    $('#sink').append('<div>' + e.data + '</div>');
                }
            });
            var reset = function() { $('#sink').html(''); };
            source.addEventListener('open', reset);
            source.addEventListener('error', reset);
        }
    </script>
}
